body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  background-color: #ffffff;
}

h1 {
  font-size: 70px;
  font-weight: 700px;
  margin: 0;
}
h2 {
  text-align: center;
  font-size: 40px;
  color: white;
}

.flexiable-container {
  display: flex;
  width: 1200px;

  border-radius: 10px;
  background-color: #161616;
  margin: auto;
}
.half-width {
  width: 50%;

  color: #ffffff;
}
.text-content {
  padding: 70px;
}
.half-width img {
  width: 100%;
  margin-top: 20px;
}

.link-button {
  text-decoration: none;

  background-color: #dd0000;
  padding: 10px 40px;
  color: white;
  font: 700;
  border-radius: 5px;
}

.container {
  margin-top: 8em;
}

.matches {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 25px;
  grid-row-gap: 20px;
  background-color: white;
  color: #1e1e1e;
  font-style: normal;
  font-weight: 500;
}
.match {
  border-radius: 4px;
  box-shadow: 2px 2px 4px gray;
}

.match .match-banner img {
  width: 100%;
}
.match-baner-two img {
  padding: 10px;
  margin: 0;
  margin: auto;
}

.match-info {
  border-radius: 0px;
  display: flex;
}
.match-author {
  text-align: center;
  font-weight: 550;
  color: #161616;
  width: 80px;
  height: 24px;
  margin-left: 2px 2px;
  margin-right: 2px 2px;
  border: 2px solid #161616;
  border-radius: 5px;
}
.match-detaile {
  padding: 15px;
}
.fa-regular fa-clock {
  color: #a2a2a2;
}
.clock-time {
  color: #161616;
}
.football-match {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 20px;
  padding-top: 80px;
  padding-bottom: 70px;
  width: 1200px;
  margin: auto;
}
.side-bar ul li {
  padding: 10px 40px;
  justify-content: center;
  align-items: center;
  background-color: #dd0000;
  margin: 15px 0;
  border-radius: 20px;
  list-style: none;
}
.side-bar ul li a {
  text-decoration: none;
  color: white;
  font-weight: 700;
}
.side-bar ul {
  background-color: #161616;
  margin: 0;
  padding: 20px;
}
footer {
  background-color: #161616;
  padding: 40px 0;
}
hr {
  border: 0.1px solid #ffffff;
  margin: 30px;
}

.description {
  display: flex;
  height: 8em;
  align-items: center;
  justify-content: space-evenly;
}

.description p {
  margin: 0px;
  color: #ffffff;
}
.share {
  display: flex;
  height: 2em;
  color: white;
  gap: 60px;
  justify-content: center;
}
.share p {
  margin: 0px;
  color: #ffffff;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 768px) {
 
   .flexiable-container  {
    display: flex:;
    flex-direction:column;
    line-height: 154%;
    width: 100%;
    margin: 0;
    
  } 

  .update-section .matches .football-match {
    flex-direction:column;
    text-align:ceter;
    width: 100%;
    margin:0;
  }
  
  footer {
    display: flex:;
    flex-direction:column;
    width: 100%;
    margin:0;
  }
  /* .matches {
    width: 78%;
  }
  .update-section {
    width: 78%;
  }
  .football-match footer {
    width: 78%;
  }
  footer {
    width: 78%;
  } */
}
